.navbar, .navbarLogin{
    background-color: #171615;
    height: 60px;
}
.title{
    font-size: 25px;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title:hover{
    cursor: default;
}
.title:hover, .link:hover{
    text-decoration: none;
}